@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tamanho para Tablet */
    nav {
        flex-direction: row;
    }

    nav > ul > li {
        display: inline-block;
        margin: 0px 30px;
    }

    nav > ul > li > a {
        font-size: 1.2em;
    }

    section#banner {
        height: 100vh;
    }

    #banner > div.carousel > h1 {
        font-size: 2.5em;
    }

    main > section#sobre {
        flex-direction: row-reverse;
    }

    section > article#perfil {
        width: 900px;
        height: 300px;
    }

    section > article > p {
        padding: 5px 30px ;
    }

    article#cards {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        width: 95vw;
        flex-wrap: wrap;
    }

    .card-projeto {
        margin: 15px;
    }
}

@media screen and (min-width: 992px) { /* Tamanho para desktop */
    nav {
        flex-direction: row;
    }

    nav > ul > li {
        display: inline-block;
        margin: 0px 30px;
    }

    nav > ul > li > a {
        font-size: 1.2em;
    }

    section#banner {
        height: 100vh;
    }

    #banner > div.carousel > h1 {
        font-size: 3em;
    }

    main > section#sobre {
        flex-direction: row;
        height: 380px;
    }

    section > article#perfil {
        width: 85%;
        height: 85%;
    }

    section > article > p {
        padding: 5px 30px ;
    }

    article#cards {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card-projeto {
        margin: 15px;
    }
}
